.card {
    margin-bottom: 30px;
    box-shadow: 0px 3px 16px #ccc;
    transition: all 0.4s;

    &:hover {
        box-shadow: 0 0 0 #ccc;
    }
    & img {
        height: 150px;
        object-fit: cover;
    }
}
.card-title.h5 {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search {
    margin: 1.6em 0;
}

.clear-search {
    margin-bottom: 30px;
}

.clear-search__button {
    margin-left: 10px;
}
.details img{
    object-fit: cover;
    height: 350px;
    width: 100%;
} 
.details button {
    margin:20px 0;
    text-align: left;
}
.details button a{
    color:white;
}
.details .fas {
float: right;

}
#button_like {
   background-color: lightcoral;
   border-color: white;

}

#button_like:hover {
    background-color: red;
    
 
 }

.card-header{
    padding: 5px;
    background-color: #6c757d;
    grid-template-columns: auto 40px;
    gap: 10px ;
    display: grid;
}

.details_genres p,
.details_platforms p {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-bottom: 10px;
    padding:6px 12px;
    border-radius: .25rem;
}
.card_title{
    padding: 10px;
    text-align: center;
    background-color: #6c757d;
    color:white;
    margin-bottom: 0;;
}
.likedGames{
    display: grid;
    grid-template-columns: 120px auto;
    gap: 10px ;
    margin-bottom: 20px;
}

.likedGames-games li {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin:10px;
}
.likedGames-title{
    align-self: center;
 
    padding: 10px;
    border-radius: 5px;
    display: block;
 
  
}
.likedGames-title p {

    margin: 0;
}